body{
    margin: 0%;
    background-color: black;
    display: flex;
}

header{
    position: absolute;
    width: 100%;

}



.contenedor-s1{
    display: flex;
    justify-content: center;
    padding: 30px;
}




.links{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    font-weight: 600;
    font-size: medium;
}
.links a {
    text-decoration: none;
    margin-left: 100px;
    margin-right: 100px;
    font-family: sans-serif;
    color: white;
}




.location {
    display: flex ;
    margin-right: 100px;
    margin-left: 100px;
}
.location img {
    width: 25px;
    height: 25px;
}





.barra-busqueda{
    margin-top: 20px;
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 0px;
}
.barra-busqueda img{
    width: 20px;
    height: 20px;
    margin-right: 5px;
}
.barra-busqueda input{
    background-color: rgb(255, 255, 255);
    font-family: sans-serif;
    padding: 10px;
    border: none;
    border-radius: 20px;
}





.video-s1{
    display: flex;
    width: 100%;
}
.video-s1 video{
    width: 100%
}



.TITULO{
    display: flex;
    justify-content: center;
    flex-flow: column;
    align-items: center;
    padding: 150px;
    font-family: sans-serif;
    font-size: 40px;
    color: whitesmoke;
    text-transform: uppercase;
}

.TITULO h1 {
    margin: 0;
}