body{
    margin: 0;
    width: 100vw;
}

header{
    background-color: #fedcea ;
}

.section1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.img-logo{
    height: 60px;
    width: 60px;
    margin: 20px;
}

.barra-navegacion{
    display: flex;
    margin-right: 100px;
}

.links-navegacion a {
    margin-left: 30px;
    text-decoration: none;
    font-family: sans-serif;
    color: #D53880;
    font-weight: 600;
}

.section2-h1-form{
    background-color: #fedcea;
    margin: 0;
    align-items: center;
    display: flex;
    padding-bottom: 40px;
}

.img-section2 img {
    height: 500px;
    width: 650px;
    display: flex;
    justify-content: right;
    margin-right: 125px;
}

.content-section2{
    flex: 1;
    margin-left: 10vh;
    align-items: center;
}

.content-section2 h1{
    font-family: sans-serif;
    color: #f9309e;
    font-size: 10vh;
    margin-left: 10vh;
    margin-bottom: 15px;
    font-style: italic;
}

.content-section2 p{
    margin-left: 10vh;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    margin-top: 0;
}

.content-section2 button {
    background-color: #f9309e;
    border: none;
    border-radius: 30px;
    height: 50px;
    width: 350px;
    margin-left: 60px;
    margin-top: 30px;
    font-family: sans-serif;
    color: white;
    font-size: larger;
}



.imagen-marco img{
    display: flex;
    width: 100vw;
    height: 30vw;
}


.productos{

    width: 100%;
}